* 
{
    box-sizing: border-box;
}
body
{
    margin: 0px;
}
header
{
    margin-top: 1rem;
}
.container
{
    width: 1170px;
    margin: 0 auto;
    padding: 0 auto;
    /* border: 1px solid; */
}
.df
{
    display: flex;
}
.jcb
{
    justify-content: space-between;
}
.fdc
{
    flex-direction: column;
}
.aic
{
    align-items: center;
}
.dfw
{
 flex-wrap: wrap;
}
.jcc
{
    justify-content: center;
}
ul
{
    list-style-type: none;
}
.a
{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.btnn
{
    background-color: white;
    color: #1565D8;
    text-decoration: none;
    border: 1px solid #1565D8;
    padding: 15px 15px;
    font-size: 1.2rem;
    border-radius: 1rem;
}
a.a
{
    padding: 15px;
}
.hero
{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 2.5rem;
}
.down-arrow
{
    color: black;
    margin-top: 3rem;
    border: 1px black solid;
    padding: 15px;
    width: 50px;
    border-radius: 30px;
    text-align: center;
}
.section1-cols .btn
{
    margin-top: 3rem;
}
.slide
{
    display: flex;
    align-items: center;
}
.db
{
    display: block;
}
.slide span:hover
{
    color: blue;
    cursor: pointer;
}

.btn a
{
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: #183B56;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.section1-cols h1
{
    color: #333;
    font-size: 3rem;
}
.section5
{
    margin-top: 4rem;
}
.section5 label
{
    color: aqua;
}
.section5-row
{
    margin-top: 2rem;
    gap : 8rem;
}
.border
{
    border: 1px solid grey;
    padding: 16px;
    border-radius: 10px;
}
.section3
{
    margin-top: 4rem;
}
.section3 img
{
    margin-right: 1rem;
}
.section3-row
{
    margin-top: 2rem;
    gap : 4rem;
}
.section2
{
    margin-top: 4rem;
}
.section2 label
{
    color: aqua;
}
.section2-cols
{
    width: calc(100% / 3.8);
}
.section2-row
{
    gap : 12rem;
}
.img
{
    background-color: #f1f6fd;
    padding: 16px;
    border-radius: 15px;
}
.width
{
    gap : 4rem;
}
.dfnw
{
    flex-wrap: nowrap;
}
.section3-border
{
    border: 1px grey;
    padding: 16px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}
.section3-cols
{
    width: calc(100% / 3.5);
}
.section3-gap
{
    gap : 20rem;
}
.section4
{
    margin-top: 4rem;
}
.section4-row
{
    gap : 2rem;
}
.section4-cols-padding
{
    padding: 10px;
}
.section4 label
{
    color: aqua;
}
.section5-cols img
{
    height : 40px;
    width : 40px;
    margin-right: 10px;
}
.section5-cols
{
    width : calc(100% / 2.3);
}
.section6
{
    margin-top: 4rem;
}
.section6 label
{
    color: aqua;
}
.section6-row
{
    margin-top: 4rem;
    text-align: center;
    gap: 3rem;
}
.section6-cols
{
    width : calc(100% / 5.1);
}
.txt-grey
{
    color: gray;
}
.section7
{
    margin-top: 4rem;
    background-color: aqua;
}
.box-btn
{
    text-decoration: none;
    font-weight: bold;
    padding: 15px 15px;
    background-color: white;
    font-size: 18px;
    color: black;
    border-radius: .7rem;
    margin-bottom: 2rem;
}
.margin
{
    margin-top: 2rem;
}
footer
{
    background-color: #152938;
}
.fw-600 
{
    font-weight: 600;
}
.fs-30
{
    font-size: 30px
}
.col-2{
    width: calc(100% / 2);
}
.txtclr
{
    color: white;
}
.footer-bottom
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer-margin
{
    margin-top: 4rem;
}
footer .news-later input{
    width: 67%;
    padding:15px 20px;;
    border-radius: 11px;
    outline:none;
    border:none;
}
footer .news-later a.btn-start{
    width: 30%;
    text-decoration: none;
    background: #1565D8;
    border: 1px solid #1565D8;
    color: white;
    padding:15px 20px;
    text-align:center;
    border-radius: 11px;
}
.txt-gray
{
    color: gray;
}
.db
{
    display: block;
    font-size: 15px;
}
.my-2 
{
    margin-top: 2rem;
    margin-bottom: 2rem
}
.unstyled 
{
    list-style-type: none;
}
.top-bar ~ ul li
{
    line-height: 46px;
}
.top-bar ~ ul
{
    padding: 0px;
}
.top-bar h3
{
    margin: 0px;
}
a
{
    text-decoration: none;
}
.cwidth
{
    width: calc(100% / 5);
}
.frowsgap
{
    gap : 100px;
}
.my-1 
{
    margin-top: 1rem;
    margin-bottom: 1rem
}
.oval
{
    height: 60px;
    width: 60px;
    background: blue; 
    border-radius: 50%;
    display: grid;
    place-items: center;

}