.df
{
    display: flex;
}
.dfw
{
 flex-wrap: wrap;
}
.jcc
{
    justify-content: center;
}
.jcr
{
    justify-content: right;
}
.jcb
{
    justify-content: space-between;
}
.btnn
{
    background-color: white;
    color: #1565D8;
    text-decoration: none;
    border: 1px solid #1565D8;
    padding: 15px 15px;
    font-size: 1.2rem;
    border-radius: 1rem;
}
.alc
{
    align-items: center;
}
a
{
    text-decoration: none;
}
.a
{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}
.jca
{
    justify-content: space-around;
}
.h1
{
    font-size: 60px;
}
.jcbw
{
    justify-content: space-between;
}
.gaps
{
    gap: 50px;
}
.logo
{
    margin: 0 4rem;
}
.menu
{
    margin: 0 1rem;
    /* width: 40%; */
}
.p
{
    font-size: 20px;
    color: grey;
}
.main-icons .box
{
    display: flex;
    width : 50%;
}
.box-content h4
{
    margin: 0px 0px;
}
.menu li{
    margin : .8rem;
}
.box-btn
{
    font-weight: bold;
    margin-left: -10px;
    margin-top: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 0px;
    background-color: #1565D8;
    font-size: 18px;
    color: white;
    border-radius: .7rem;
}
.box-link
{
    margin: 4% 0%;
}
.service
{
    align-items: center;
}
.main-logo
{
    padding: 1rem 0rem;
}
.fdc
{
    flex-direction: column;
}
.service-section1
{
    color: #36B37E;
}
.gap
{
    gap : 40px;
}
.service-section2
{
    color: #183B56;
}.service-section3
{
    width : 35%;
    font-size: 20px;
    text-align: center;
    color: grey;
}
.aic
{
    align-items: center;
}
.box p
{
    color: grey;
}
ul
{
    list-style-type: none;
}
.jcs
{
    justify-content: space-around;
}
.jce
{
    justify-content: space-evenly;
}
.section4-icons p
{
    margin-left: 10px;
    font-size: 20px;
}
.section3-home
{
    margin-top: 40px;
    padding: 20px 20px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid grey;
}
.section3-home p
{
    font-size: 20px;
    color: grey;
}
.section3-home a
{
    font-size: 25px;
    color: blue;
}
.section4
{
    position: relative;
    margin-top: 2rem;
    width: 100%;
}
.icons
{
    border: 1px solid grey;
    border-radius: .8rem;
    padding: 10px;
}
.section4 img
{
    -webkit-clip-path: ellipse(84% 60% at 50% 39%);
    clip-path: ellipse(84% 60% at 50% 39%);
}
.section4 .quote
{
    color: gray;
    font-size: 30px;
}
.section4 b
{
    font-size: 25px;
}
.section4 .sign
{
    font-size: 25px;
    color: grey;
}
.section4-1
{
    padding: 20px;
    position: absolute;
    bottom: 3%;
    left : 10%;
    background-color: white;
    width: 30%;
    border-radius: 15px;
}
.section5
{
    margin-top: 10rem;
    gap : 1rem;
}
.section5-icons
{
    border: 1px solid grey;
    padding : 10px;
    border-radius: 15px;
}
.section5-1 h1
{
    color: #183B56;
}
.section5-1 h3
{
    color: #36B37E;
}
.section5-2 ,.section5-1, .section5-3, .section5-4, .section5-5, .section5-6
{
    width: 30%;
}
.section5 p
{
    font-size: 25px;
    color: grey;
}
.line
{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
.section6-1
{
    margin-top: 3rem;
}
.section6-image1, .section6-image2
{
    position: relative;
}
.section6-content
{
    position: absolute;
    left : 10%;
    color: white;
    bottom : 10%;
    /* width : 45%; */
}
.section6-content2
{
    position: absolute;
    left : 10%;
    color: white;
    bottom : 10%;
    /* width : 45%; */
}
.section6-content2 h1
{
    font-size: 40px;
}
.section7
{
    margin-top: 5rem;
}
.sectiongap
{
    gap : 15px;
}
.section3-gap
{
    gap : 10px;
}
.section5-gap
{
    gap: 10px;
}
.container
{
    width : 1170px;
    margin: 0px;
    padding: 0px;
}