<!DOCTYPE html>
<html>
  <head>
    <title>chat</title>
    <style>
      body {
        margin: 0;
        padding-bottom: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Helvetica, Arial, sans-serif;
      }

      #form {
        background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
      }
      .input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem;
      }
      .input:focus {
        outline: none;
      }
      #form > button {
        background: #333;
        border: none;
        padding: 0 1rem;
        margin: 0.25rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
      }

      #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      #messages > li {
        padding: 0.5rem 1rem;
      }
      #messages > li:nth-child(odd) {
        background: #efefef;
      }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <div id="form" action="">
      <div id="error-container"></div>
      <input
        id="name"
        type="text"
        name="name"
        class="input"
        value=""
        placeholder="Enter your name!"
        onclick="setUsername()"
      />
      <input
        type="button"
        name="button"
        value="Let me chat"
        onclick="setUsername()"
      />
      <!-- <input id="input" autocomplete="off" /><button>Send</button> -->
    </div>
  </body>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <script>
    var socket = io();
    function setUsername() {
      let message = document.getElementById("name");
      message.addEventListener("keydown", function (e) {
        if (e.keyCode == 13) {
          socket.emit("setUsername", document.getElementById("name").value);
        }
      });
      if (message.value != "") {
        socket.emit("setUsername", document.getElementById("name").value);
      }
    }
    var user;
    socket.on("userExists", function (data) {
      document.getElementById("error-container").innerHTML = data;
    });
    socket.on("userSet", function (data) {
      user = data.username;
      let add = document.getElementById("form");
      form.innerHTML =
        '<input type="text" class="input" id="message" onclick="sendMessage()">\
        <button type="button" name="button" onclick="sendMessage()">Send</button>';
    });
    function sendMessage() {
      let message = document.getElementById("message");
      message.addEventListener("keydown", function (e) {
        if (e.keyCode == 13) {
          let msg = message.value;
          if (msg) {
            socket.emit("msg", { message: msg, user: user });
          }
          message.value = "";
        }
      });
      let msg = message.value;
      if (msg) {
        socket.emit("msg", { message: msg, user: user });
      }
      message.value = "";
    }
    socket.on("newmsg", function (data) {
      if (user) {
        document.getElementById("messages").innerHTML +=
          "<div><b>" + data.user + "</b>: " + data.message + "</div>";
      }
    });
  </script>
</html>
